/* font - Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Roboto+Slab&display=swap');

*{
    margin: 0;
    font-family: 'Roboto Slab', serif;;
}

body{
    color: white;
    background-color: #222;
}

h1{
    margin: 15px 0 0;
    font-size: 2.5em;
}

/* Game containers */
#grid-container{
    height: 460px;
    width: 460px;
    padding: 15px 0;
}

#grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    max-width: 100%;
}

#game-container{
    height: 630px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#444;
}

#lives{
    margin: 10px 0 0;
    height: 3rem;
    display: flex;
    font-size: 3rem;
}

/* generated tiles */
.tile{
    display: flex;
    flex-flow: column;
    text-align: center;
    justify-content: center;
    background-color: #666;
    border: 2px solid #222;
    border-radius: 20%;
    margin: 2px;
    overflow: hidden;
    font-size: 2em;
}

#overlay-play-button{
    position: absolute;
    top: 50%;
    height: 3rem;
    width: 6rem;
    border: 2px solid #222;
    border-radius: 20px;
}