*{
    margin: 0;
}

body{
    color: white;
    background-color: #222;
}

h1{
    font-size: 2.5em;
}

/* Game containers */
#grid-container{
    height: 460px;
    width: 460px;
    padding: 1em 0;
}

#grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    max-width: 100%;
}

#playfield{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#444;
}

#level{
    margin: 1em 0 0;
}

#lives{
    margin: 10px 0 0;
    height: 3rem;
    display: flex;
    font-size: 3rem;
}

#score{
    font-size: 1em;
    height:1em;
}
/* generated tiles */
.tile{
    height: auto;
    width: auto;
    text-align: center;
    justify-content: center;
    background-color: #666;
    border: 2px solid #222;
    border-radius: 20%;
    margin: 2px;
    overflow: hidden;
    font-size: small;
}